name: Test (NPM)
on:
  push:
    branches-ignore: ['main']
jobs:
  static-checks-npm:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    permissions:
      security-events: write
    with:
      matrix_commands: '["lint", "depcheck", "check"]'
  tests-unit:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    permissions:
      pull-requests: write
    with:
      docker_compose_file: ''
      npm_build_command: 'npm run build:tsoa'
      tests: '["test:unit"]'
  tests-offchain:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    permissions:
      pull-requests: write
    with:
      docker_compose_file: './docker-compose-test.yml'
      npm_build_command: 'npm run build:tsoa'
      pre_test_command: 'npm run db:migrate'
      tests: '["test:offchain"]'
  tests-onchain:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    permissions:
      pull-requests: write
    with:
      docker_compose_file: './docker-compose-test.yml'
      npm_build_command: 'npm run build:tsoa'
      pre_test_command: 'npm run db:migrate && npm run flows'
      tests: '["test:onchain","test:proxyless"]'
  build-docker:
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    permissions:
      contents: read
      packages: write
      security-events: write
